Numbers

We will start with Int

Basic Arithmatic Operation

In [2]:
a = 24

In [3]:
b =10.2

In [4]:
type(a)

int

In [5]:
type(b)

float

In [6]:
c=12

In [7]:
a+c

36

In [8]:
a/c

2.0

In [9]:
a//c

2

In [10]:
2**3

8

In [11]:
a/b

2.3529411764705883

 Strings

In [12]:
"Hi Prabhu"

'Hi Prabhu'

In [14]:
print("Hai Prabhu!!")

Hai Prabhu!!

In [15]:
a="Kumaran"

In [16]:
a[3]

'a'

In [17]:
a[4]

'r'

In [18]:
a[1:]

'umaran'

In [19]:
a[-1]

'n'

In [20]:
a[-1:]

'n'

In [21]:
a[:-1]

'Kumara'

In [22]:
a[::-1]

'naramuK'

In [23]:
a[::2]

'Kmrn'

In [24]:
a[::3]

'Kan'

In [25]:
a.count

In [26]:
a.count("prabhu")

0

In [27]:
a.count('Prabhu')

0

In [28]:
a.count('')

8

In [29]:
a.count('K')

1

In [30]:
a.format('')

'Kumaran'

In [31]:
a.center('')

TypeError: 'str' object cannot be interpreted as an integer

In [32]:
a.upper()

'KUMARAN'

In [33]:
a.casefold()

'kumaran'

In [34]:
a.endswith()

TypeError: endswith() takes at least 1 argument (0 given)

In [35]:
a.zfill()

TypeError: zfill() takes exactly one argument (0 given)

In [36]:
a.encode()

b'Kumaran'

In [37]:
a.encode()

b'Kumaran'

In [40]:
help(a.encode)

Help on built-in function encode:

encode(encoding='utf-8', errors='strict') method of builtins.str instance
    Encode the string using the codec registered for encoding.

    encoding
      The encoding in which to encode the string.
    errors
      The error handling scheme to use for encoding errors.
      The default is 'strict' meaning that encoding errors raise a
      UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
      'xmlcharrefreplace' as well as any other name registered with
      codecs.register_error that can handle UnicodeEncodeErrors.

In [41]:
a.casefold()

'kumaran'

In [42]:
help(a.casefold)

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

In [43]:
help(a.casefold())

No Python documentation found for 'kumaran'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [44]:
help(a.casefold())

No Python documentation found for 'kumaran'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [45]:
a.split()

['Kumaran']

In [46]:
a.split('m')

['Ku', 'aran']

In [48]:
'insert: {}'.format(12)

'insert: 12'

In [53]:
a.rindex('p')

ValueError: substring not found

In [54]:
a.

SyntaxError: invalid syntax (<ipython-input-54-b4ce96ddcee0>, line 1)

In [55]:
my_list= ['a,b,c,d,e']

In [58]:
my_list= ['a','b','c']

In [59]:
my_list.append(1)

In [64]:
my_list.reverse()

In [65]:
my_list.remove('a')

In [69]:
my_list.copy()

['b', 'c', 1]

In [70]:
my_list.count('a')

0

In [71]:
print(my_list)

['b', 'c', 1]

In [72]:
my_list= [[1,2,3],[4,5,6],[7,8,9]]

In [77]:
[row[0] for row in my_list]

[1, 4, 7]

Dictionary

In [83]:
thisdict =	{
  "brand": "Benz",
  "model": "GL350",
  "year": 2018
}

In [81]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [85]:
type(thisdict.keys())

dict_keys

Tuples

In [86]:
t=(1,2,3,4)

In [87]:
t.count(1)

1

In [90]:
t.index(2)

1

In [91]:
t[2]

3

Sets

In [92]:
my_set = {1,2,3,4,5,6,7,8,9}

In [93]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [94]:
my_set.union(10)

TypeError: 'int' object is not iterable

In [95]:
b ={12,13}

In [97]:
print("Union :", my_set | b)

Union : {1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13}

In [ ]:
my_set.symmetric_difference